---
title: Arcana
layout: defaultconf
---
			
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div id="content">

				<!-- Content -->
			
					<article>
						<header>
							<h2>Become a Sponsor</h2>
							<p>Get your brand in front of our audience</p>
						</header>
						
	{% include cta-download-prospectus.html %}
						
						<p>Got questions? <a href="mailto:Contact@LatAmStartups.biz">Send us an email</a>.</p>

				<section class="12u">
					<h2>Platinum</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/Scotiabank.png" alt="" width="600" /></a>
					</div>
					<h2>Gold</h2>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/CityToronto_logo.png" alt="" width="300" /></a>
					<a href="DMZ-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DMZ_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupHereToronto_logo.jpg" alt="" width="300" /></a>
					<div class="row">
					</div>
					<h2>Silver</h2>
					<div class="row">
					<a href="MonetaPartners-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/MonetaPartners.jpg" alt="" width="300" /></a>
					</div>
					<h2>Institutional</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DFAIT_logo.jpg" alt="" width="300" /></a>
					<a href="ProMexico-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/ProMexico_logo.jpg" alt="" width="300" /></a>
					<a href="SE-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/SE_INADEM_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Community</h2>
					<div class="row">
					<a href="StartupCanada-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupCanada_logo.jpg" alt="" width="300" /></a>
					<a href="StartupBrasil-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupBrasil_logo.jpg" alt="" width="300" /></a>
					<a href="StartupChile-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupChile.jpg" alt="" width="300" /></a>
					<a href="StartupBuenosAires-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupBuenosAires_logo.jpg" alt="" width="300" /></a>
					<a href="StartupPeel-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupPeel_logo.jpg" alt="" width="300" /></a>
					<a href="YABT-profile.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/YABT_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/WaterlooEDC.jpg" alt="" width="300" /></a>
					<a href="MexicoBusinessClub-profile.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/MexicoBusinessClub.jpg" alt="" width="300" /></a>
					<a href="UGlobally-profile.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/UGlobally.jpg" alt="" width="300" /></a>
					<a href="500StartupsCanada-profile.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/500startups.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/AngelsNest.jpg" alt="" width="300" /></a>
					</div>
				</section>
						

	{% include cta-download-prospectus.html %}

				<section class="12u">
					<h2>Past sponsors</h2>
					<div class="row">
					<a href="INADEM-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/INADEM_logo.jpg" alt="" width="300" /></a>
					<a href="LatAmBusinessSchool-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/LatAmBusinessSchool.jpg" alt="" width="300" /></a>
					<a href="AngelsNest-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/AngelsNest.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/UPS_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/uber_logo.jpg" alt="" width="300" /></a>
					<a href="YouNoodle-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/YouNoodle_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Wayra_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Ryerson_logo.jpg" alt="" width="300" /></a>
					<a href="TecMonterrey-profile.html" class="image center"><img src="{{ site.baseurl }}/assets/images/TecMonterrey.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Mars_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/incubauc_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/microfilms_logo.jpg" alt="" width="300" /></a>

					</div>
				</section>

			</div>

					</article>
		
			</div>
		</div>
	</section>			
