---
title: Arcana
layout: defaultconf
---
			
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div id="content">

				<!-- Content -->
			
					<article>
						<header>
							<h2>Become a Sponsor</h2>
							<p>Get your brand in front of our audience</p>
						</header>
						
	{% include cta-download-prospectus.html %}
						
						<p>Got questions? <a href="mailto:Contact@LatAmStartups.org">Send us an email</a>.</p>

				<section class="12u">
					<h2>Strategic</h2>
					<div class="row">
					<a href="https://www.toronto.ca/business-economy/business-start-ups/small-business-centres/" class="image center"><img src="{{ site.baseurl }}/assets/images/Toronto-Logo-jpeg.jpg" alt="" width="300" /></a>
					<a href="https://startupheretoronto.com" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupHereToronto_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Silver</h2>
					<div class="row">
					<a href="https://brightimmigration.com/" class="image center"><img src="{{ site.baseurl }}/assets/images/Bright_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Bronze</h2>
					<div class="row">
					<a href="https://www.dukeheights.ca/" class="image center"><img src="{{ site.baseurl }}/assets/images/DukeHeightsBIA_logo.jpg" alt="" width="300" /></a>
					<a href="http://www.xiboss.com/" class="image center"><img src="{{ site.baseurl }}/assets/images/xiBOSS_logo.jpg" alt="" width="300" /></a>
					<a href="http://mercfx.com/" class="image center"><img src="{{ site.baseurl }}/assets/images/Mercantile_logo.png" alt="" width="300" /></a>
					</div>
					<h2>Exhibitors</h2>
					<div class="row">
					<a href="https://www.feddevontario.gc.ca/eic/site/723.nsf/eng/home" class="image center"><img src="{{ site.baseurl }}/assets/images/FedDev_logo.png" alt="" width="300" /></a>
					<a href="https://prezzta.com/laas/" class="image center"><img src="{{ site.baseurl }}/assets/images/Prezzta_logo.png" alt="" width="300" /></a>
					<a href="https://www.theowlsolutions.com" class="image center"><img src="{{ site.baseurl }}/assets/images/om_logo.png" alt="" width="300" /></a>
					<a href="https://www.relex.io" class="image center"><img src="{{ site.baseurl }}/assets/images/Relex_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Institutional</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/ProEcuador_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/ProChile_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/ProPeru_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/UruguaySigoXI.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/softex_logo.png" alt="" width="300" /></a>
					</div>
					<h2>Community</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupCanada_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupChile.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/Reune_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/Cantarino.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/Spaces.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/AngelsNestNew.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupPeel_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/NACO.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/DMZ_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/BCCC_logo.jpg" alt="" width="300" /></a>
					</div>
				</section>
						

	{% include cta-download-prospectus.html %}

			</div>

					</article>
		
			</div>
		</div>
	</section>			
