---
title: LatAm Startups
layout: defaultconf
---
			
<!-- Banner -->
	<section id="banner" style="background-image: url(assets/images/conferencebanner2018.jpg)">
		<header>
			<h2><em>The Leading Event for Latin American Startups &mdash; May 29-31, 2018</em></h2>
			<a href="tickets.html" class="button">Get Your Tickets</a>
		</header>
	</section>

<!-- Highlights -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-users"></i>
						<h3>Investors</h3>
						<p>Investors from across Latin America, Canada, and the US come to the LatAm Startups Conf to network with an intimate group of the most important movers and shakers in the LatAm ecosystem.</p>
						<p>Latin America produces world-class startups. If you're an investor interested in what LatAm has to offer, you can't afford to miss this event. </p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-gears"></i>
						<h3>Startups</h3>
						<p>Building the next great thing? Got a proven business idea with substantial revenue? Looking for Series A financing&mdash;and a chance to scale globally?</p>
<p>If this describes your startup, <a href="index.html#join-the-movement">join the mailing list</a> to hear when we open applications for our next cohort!</p>

					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-plane"></i>
						<h3>Ecosystem Leaders</h3>
						<p>Top accelerators, incubators, and public policy folk come from across America to network with investors and startups.</p>
						<p>Mark your calendar now!</p>

					</div>
				</section>
			</div>
		</div>
	</section>

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Innovation is increasing at an exponential pace.</h2>
				<p>Building self-sustaining startup ecosystems is critical to ensuring innovation independence in Latin America. </p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="governor-general-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/GovernorGeneralofCanada.jpg" alt="" /></a>
						<div class="inner">
							<h3>Governor-General of Canada</h3>
							<p>His Excellency, the Rt. Hon. David Johnston<br />
							<strong>Opening Keynote, 2015</strong><br />
							<strong>Welcome Message, 2016</strong><br />
							<a href="https://www.youtube.com/watch?v=nOpGHQjEI_8">Watch the video</a></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="manny-padda-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/MannyPadda.jpg" alt="" /></a>
						<div class="inner">
							<h3>Manny Padda</h3>
							<p>Founder, New Avenue Capital<br />
							<strong>Keynote Interview, 2018</strong><br />
							</p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="israel-pons-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/IsraelPons.jpg" alt="" /></a>
						<div class="inner">
							<h3>Israel Pons</h3>
							<p>CEO, Angels Nest Mexico<br />
							<strong>Speaker, 2018</strong><br />
					<strong><em>Panel: Angel Investing in Latin America</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="claudio-rojas-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/ClaudioRojas.jpg" alt="" /></a>
						<div class="inner">
							<h3>Claudio Rojas</h3>
							<p>Director, Hurt Capital Inc.<br />
							<strong>Speaker, 2018</strong><br />
							<strong><em>Panel: Angel Investment in Latin America</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="sen-sachi-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/SenSachi.jpg" alt="" /></a>
						<div class="inner">
							<h3>Sen Sachi</h3>
							<p>Director of Accelerator Programs, DMZ<br />
							<strong>Speaker, 2018</strong><br />
							<strong><em>From Startup to Scaleup</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="guadalupe-itzel-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/GuadalupeItzel.jpg" alt="" /></a>
						<div class="inner">
							<h3>Itzel Villa</h3>
							<p>General Director, Entrepreneurship Programs and Financing, INADEM<br />
							<strong>Speaker, 2018</strong><br />
							<strong><em>Bridging Accelerator Programs Through the Pacific Alliance</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="sischa-maharaj-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/SischaMaharaj.jpg" alt="" /></a>
						<div class="inner">
							<h3>Sischa Maharaj</h3>
							<p>Associate Director, Rotman School of Management, University of toronto<br />
							<strong>Speaker, 2018</strong><br />
							<strong><em>Panel: Green-tech/Clean-tech</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="raad-seraj-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/RaadSeraj.jpg" alt="" /></a>
						<div class="inner">
							<h3>Raad Seraj</h3>
							<p>Senior Analyst, WaterTAP<br />
							<strong>Speaker, 2018</strong><br />
							<strong><em>Panel: Green-tech/Clean-tech</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="marc-lijour-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/MarcLijour.jpg" alt="" /></a>
						<div class="inner">
							<h3>Marc Lijour</h3>
							<p>Co-founder, ColliderX<br />
							<strong>Speaker, 2018</strong><br />
							<strong><em>Workshop: Blockchain and its applications</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="camila-postigo-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/CamilaPostigo.jpg" alt="" /></a>
						<div class="inner">
							<h3>Camila Postigo</h3>
							<p>Corporate Network Manager, Start-Up Chile<br />
							<strong>Speaker, 2018</strong><br />
							<strong><em>The #1 Business Accelerator in Latin America: Startup Chile
</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="tony-duckett-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/TonyDuckett.jpg" alt="" /></a>
						<div class="inner">
							<h3>Tony Duckett</h3>
							<p>Angel Investor, xiVENTURES Fund<br />
							<strong>Speaker, 2018</strong><br />
							<strong><em>Panel: Angel Investing in Latin America</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="brian-cookson-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/BrianCookson.jpg" alt="" /></a>
						<div class="inner">
							<h3>Brian Cookson</h3>
							<p>Managing Director, RDP Associates<br />
							<strong>Speaker, 2018</strong><br />
							<strong><em>Workshop: Government Tax Credits and Grants for Startups</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="chris-dudley-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/ChrisDudley.jpg" alt="" /></a>
						<div class="inner">
							<h3>Chris Dudley</h3>
							<p>Director Entrepreneurship, Helix at Seneca
<br />
							<strong>Speaker, 2018</strong><br />
							<strong><em>Panel: Green-tech/Clean-tech</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="jonatan-morgenroth-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/JonatanMorgenroth.jpg" alt="" /></a>
						<div class="inner">
							<h3>Jonatan Morgenroth</h3>
							<p>Director of Sales, LATAM, at TouchBistro
<br />
							<strong>Sponsor, 2018</strong><br />
							<strong><em>Case study: Canadian tech company TouchBistro scaling up in Latin America
</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="philippe-jeffrey-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/PhilippeJeffrey.jpg" alt="" /></a>
						<div class="inner">
							<h3>Philippe Jeffrey</h3>
							<p>international tax advisor, FCR Law<br />
							<strong><em>Panel Moderator: Angel Investing in Latin America</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="ana-pires-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/AnaPires.jpg" alt="" /></a>
						<div class="inner">
							<h3>Ana Pires</h3>
							<p>Manager, Entrepreneurship in Brasil<br />
							Softex<br />
							<strong><em>Scaling into Brazil</em></strong></p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Sponsors 2018</h2>
				<p>They are awesomesauce</p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">




			<div class="row">
				<section class="12u">
					<h2>Gold</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/CityToronto_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupHereToronto_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Silver</h2>
					<div>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DMZ_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DukeHeightsBIA_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/TouchBistro_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/FCRLaw_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Bronze</h2>
					<div>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/xiBOSS_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Institutional</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Ontario_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/INADEM_logo2.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/ProMexico_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/ProEcuador_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/softex_logo.png" alt="" width="300" /></a>
					</div>
	{% include cta-sponsor.html %}
					<h2>Community</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupCanada_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupBrasil_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupChile.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupBuenosAires_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupPeel_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/MexicoBusinessClub.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/AngelsNest.jpg" alt="" width="300" /></a>
					</div>
				</section>
			</div>




		</div>
	</section>
	
	{% include cta-conf.html %}
			<div class="row">
				<section class="12u">
					<div class="row">
						<style>
						    .google-maps {
							position: relative;
							padding-bottom: 75%; // This is the aspect ratio
						        padding-top: 30px;
							height: 100%;
							width: 100%;
							overflow: hidden;
						    }
						    .google-maps iframe {
							position: absolute;
							top: 0;
							left: 0;
							width: 100% !important;
							height: 100% !important;
						    }
						</style>

						<iframe src="
https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2886.432882341964!2d-79.3896743!3d43.6599662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7e6f7af0cc4e65f3!2sMaRS+Discovery+District!5e0!3m2!1sen!2sus!4v1486508992900
" width="800" height="600" frameborder="0" style="border:0" allowfullscreen>&nbsp;</iframe>

					</div>
				</section>
			</div>
