---
title: LatAm Startups
layout: defaultconf
---
			
<!-- Banner -->
	<section id="banner" style="background-image: url(assets/images/conferencebanner.jpg)">
		<header>
			<h2><em>The Leading Startups Event in Latin America &mdash; October 12-14, 2016</em></h2>
			<a href="tickets.html" class="button">Get Your Tickets</a>
		</header>
	</section>

<!-- Highlights -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-users"></i>
						<h3>Investors</h3>
						<p>Investors from across Latin America, Canada, and the US come for two intense days of networking with an intimate group of the most important movers and shakers in the LatAm ecosystem.</p>
						<p>Latin America produces world-class startups. If you're an investor interested in what LatAm has to offer, you can't afford to miss this event. </p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-gears"></i>
						<h3>Startups</h3>
						<p>Building the next great thing? Got a proven business idea with substantial revenue? Looking for Series A financing&mdash;and a chance to scale globally?</p>
<p>If this describes your startup, please apply today!</p>

					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-plane"></i>
						<h3>Ecosystem Leaders</h3>
						<p>Top accelerators, incubators, and public policy folk come from across America to network with investors and startups.</p>
						<p>Mark your calendar now!</p>

					</div>
				</section>
			</div>
		</div>
	</section>

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Innovation is increasing at an exponential pace.</h2>
				<p>Building self-sustaining startup ecosystems is critical to ensuring innovation independence in Latin America. </p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="governor-general-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/GovernorGeneralofCanada.jpg" alt="" /></a>
						<div class="inner">
							<h3>Governor-General of Canada</h3>
							<p>The Hon. David Johnston<BR/>
							2015 Keynote Speaker</p>
		</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="john-ruffolo-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/JohnRuffolo.jpg" alt="" /></a>
						<div class="inner">
							<h3>John Ruffolo</h3>
							<p>Investor<br />
							2015 Keynote Speaker</p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="randall-howard-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/RandallHoward.jpg" alt="" /></a>
						<div class="inner">
							<h3>Randall Howard</h3>
							<p>Investor<br />
							2015 Keynote Speaker</p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="felipe-matos-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/FelipeMatos.jpg" alt="" /></a>
						<div class="inner">
							<h3>Felipe Matos</h3>
							<p>Startup Brasil<br />
							2015 Keynote Speaker</p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="bob-lane-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/boblane.jpg" alt="" /></a>
						<div class="inner">
							<h3>Bob Lane</h3>
							<p>Canadian Executive<br />
							2016 Keynote Interview</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Sponsors 2016</h2>
				<p>They are awesomesauce</p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">




			<div class="row">
				<section class="12u">
					<h2>Strategic</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/StartupMexico_logo.jpg" alt="" width="600" /></a>
					</div>
					<h2>Institutional</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/DFAIT_logo.jpg" alt="" width="500" /></a>
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/INADEM_logo.jpg" alt="" width="500" /></a>
					</div>
					<h2>Community</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupToronto_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupBuenosAires_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartUpCanada_logo.gif" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupChile.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupBrasil_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/YouNoodle_logo.jpg" alt="" width="300" /></a>
					</div>
				</section>
			</div>





	{% include cta-sponsor.html %}



			<div class="row">
				<section class="12u">
					<h2>Past sponsors</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/UPS_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/uber_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DFAIT_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Wayra_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Ryerson_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DMZ_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartUpCanada_logo.gif" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Mars_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/incubauc_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/CityToronto_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/GoSouth_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/microfilms_logo.jpg" alt="" width="300" /></a>

					</div>
				</section>
			</div>






			<div class="row">
				<section class="12u">
					<h3></h3>
					<div class="row">

					</div>
				</section>
			</div>
		</div>
	</section>
	
	{% include cta-conf.html %}
