---
title: LatAm Startups
layout: defaultconf
---
			
<!-- Banner -->
	<section id="banner" style="background-image: url(assets/images/conferencebanner.jpg)">
		<header>
			<h2><em>The Leading Startups Event in Latin America &mdash; October 12-14, 2016</em></h2>
			<a href="tickets.html" class="button">Get Your Tickets</a>
		</header>
	</section>

<!-- Highlights -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-users"></i>
						<h3>Investors</h3>
						<p>Investors from across Latin America, Canada, and the US come for two intense days of networking with an intimate group of the most important movers and shakers in the LatAm ecosystem.</p>
						<p>Latin America produces world-class startups. If you're an investor interested in what LatAm has to offer, you can't afford to miss this event. </p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-gears"></i>
						<h3>Startups</h3>
						<p>Building the next great thing? Got a proven business idea with substantial revenue? Looking for Series A financing&mdash;and a chance to scale globally?</p>
<p>If this describes your startup, please apply today!</p>

					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-plane"></i>
						<h3>Ecosystem Leaders</h3>
						<p>Top accelerators, incubators, and public policy folk come from across America to network with investors and startups.</p>
						<p>Mark your calendar now!</p>

					</div>
				</section>
			</div>
		</div>
	</section>

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Innovation is increasing at an exponential pace.</h2>
				<p>Building self-sustaining startup ecosystems is critical to ensuring innovation independence in Latin America. </p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="hernan-fernandez-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/HernanFernandez.jpg" alt="" /></a>
						<div class="inner">
							<h3>H&eacute;rnan Fern&aacute;ndez</h3>
							<p>Managing Director, Angel Ventures M&eacute;xico<br />
							<strong><em>Investing in Pacific Alliance Startups</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="stuart-browne-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/StuartBrowne.jpg" alt="" /></a>
						<div class="inner">
							<h3>Stuart Browne</h3>
							<p>VC Investor<br />
							<strong><em>When Will a VC Invest in Your Startup?</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="abdullah-snobar-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/AbdullahSnobar.jpg" alt="" /></a>
						<div class="inner">
							<h3>Abdullah Snobar</h3>
							<p>Executive Director, DMZ<br />
							<strong><em>What Makes the DMZ at Ryerson University a Leading Global Tech Incubator</strong></em></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="bob-lane-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/boblane.jpg" alt="" /></a>
						<div class="inner">
							<h3>Bob Lane</h3>
							<p>Canadian Executive<br />
							<strong><em>Keynote Interview: 20 Reasons Why Startups Fail</strong></em></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="marcus-dantus-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/MarcusDantus.jpg" alt="" /></a>
						<div class="inner">
							<h3>Marcus Dantus</h3>
							<p>CEO, Startup Mexico<br />
							<strong><em>Mexico: Canada&rsquo;s Partner in LatAm</strong></em></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="lisa-besserman-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/LisaBesserman.jpg" alt="" /></a>
						<div class="inner">
							<h3>Lisa Besserman</h3>
							<p>CEO, Startup Buenos Aires<br />
							<strong><em>The Buenos Aires Startup Ecosystem</strong></em></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="vitor-andrade-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/VitorAndrade.jpg" alt="" /></a>
						<div class="inner">
							<h3>V&iacute;tor Andrade</h3>
							<p>COO, Startup Brasil<br />
					<strong><em>Opportunities &amp; Challenges: Doing Business in Brazil</em></strong>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="yuri-navarro-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/YuriNavarro.jpg" alt="" /></a>
						<div class="inner">
							<h3>Yuri Navarro</h3>
							<p>CEO, National Angel Capital Organization (NACO)<br />
							<strong><em>Working with International Angel Investors</strong></em></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="patrick-watson-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/PatrickWatson.jpg" alt="" /></a>
						<div class="inner">
							<h3>Patrick Watson</h3>
							<p>Director, I-DEV International<br />
					<strong><em>The Proliferation of E-Commerce in Latin America</em></strong>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="catherine-bischoff-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/CatherineBischoff.jpg" alt="" /></a>
						<div class="inner">
							<h3>Catherine Bischoff</h3>
							<p>Associate Director, University of Waterloo<br />
					<strong><em>Moving Ideas &amp; Innovation into the Economy</em></strong>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
			</div>
		</div>
	</section>
<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Sponsors 2016</h2>
				<p>They are awesomesauce</p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">




			<div class="row">
				<section class="12u">
					<h2>Strategic</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/StartupMexico_logo.jpg" alt="" width="600" /></a>
					</div>
					<h2>Gold</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/TecMonterrey.png" alt="" width="600" /></a>
					</div>
					<h2>Silver</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/DMZ_logo.png" alt="" width="600" /></a>
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/MonetaPartners.jpg" alt="" width="600" /></a>
					</div>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/UPS_logo_silver_sponsor.jpg" alt="" width="425" /></a>
					</div>
					<h2>Institutional</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/DFAIT_logo.jpg" alt="" width="500" /></a>
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/ProMexico_logo.jpg" alt="" width="500" /></a>
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/INADEM_logo.jpg" alt="" width="500" /></a>
					</div>
					<h2>Community</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupCanada_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupChile.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupBrasil_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupBuenosAires_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupToronto_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupPeru_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/YouNoodle_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupPeel_logo.jpg" alt="" width="300" /></a>
					</div>
				</section>
			</div>





	{% include cta-sponsor.html %}



			<div class="row">
				<section class="12u">
					<h2>Past sponsors</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/UPS_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/uber_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DFAIT_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Wayra_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Ryerson_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DMZ_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupCanada_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Mars_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/incubauc_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/CityToronto_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/GoSouth_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/microfilms_logo.jpg" alt="" width="300" /></a>

					</div>
				</section>
			</div>





		</div>
	</section>
	
	{% include cta-conf.html %}
			<div class="row">
				<section class="12u">
					<div class="row">
						<style>
						    .google-maps {
							position: relative;
							padding-bottom: 75%; // This is the aspect ratio
						        padding-top: 30px;
							height: 100%;
							width: 100%;
							overflow: hidden;
						    }
						    .google-maps iframe {
							position: absolute;
							top: 0;
							left: 0;
							width: 100% !important;
							height: 100% !important;
						    }
						</style>

						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1881.0253508626809!2d-99.2009074!3d19.4533807!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2020d4bb077e5%3A0xf127377e8b16c2a9!2sIgnacio+Allende+21%2C+Amp+Torre+Blanca%2C+11289+Ciudad+de+M%C3%A9xico%2C+D.F.%2C+Mexico!5e0!3m2!1sen!2sus!4v1464531899300" width="800" height="600" frameborder="0" style="border:0" allowfullscreen>&nbsp;</iframe>

					</div>
				</section>
			</div>
