---
title: LatAm Startups
layout: defaultconf
---
			
<!-- Banner -->
	<section id="banner" style="background-image: url(assets/images/conferencebanner2017.jpg)">
		<header>
			<h2><em>The Leading Event for Latin American Startups &mdash; June 7-9, 2017</em></h2>
			<a href="tickets.html" class="button">Get Your Tickets</a>
		</header>
	</section>

<!-- Highlights -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-users"></i>
						<h3>Investors</h3>
						<p>Investors from across Latin America, Canada, and the US come to the LatAm Startups Conf to network with an intimate group of the most important movers and shakers in the LatAm ecosystem.</p>
						<p>Latin America produces world-class startups. If you're an investor interested in what LatAm has to offer, you can't afford to miss this event. </p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-gears"></i>
						<h3>Startups</h3>
						<p>Building the next great thing? Got a proven business idea with substantial revenue? Looking for Series A financing&mdash;and a chance to scale globally?</p>
<p>If this describes your startup, please apply today!</p>

					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-plane"></i>
						<h3>Ecosystem Leaders</h3>
						<p>Top accelerators, incubators, and public policy folk come from across America to network with investors and startups.</p>
						<p>Mark your calendar now!</p>

					</div>
				</section>
			</div>
		</div>
	</section>

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Innovation is increasing at an exponential pace.</h2>
				<p>Building self-sustaining startup ecosystems is critical to ensuring innovation independence in Latin America. </p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="governor-general-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/GovernorGeneralofCanada.jpg" alt="" /></a>
						<div class="inner">
							<h3>Governor-General of Canada</h3>
							<p>His Excellency, the Rt. Hon. David Johnston<br />
							<strong>Opening Keynote, 2015</strong><br />
							<strong>Welcome Message, 2016</strong><br />
							<a href="https://www.youtube.com/watch?v=nOpGHQjEI_8">Watch the video</a></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="foteini-agrafioti-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/FoteiniAgrafioti.jpg" alt="" /></a>
						<div class="inner">
							<h3>Dr. Foteini Agrafioti</h3>
							<p>Chief Science Officer, RBC<br />
					<strong><em>Artificial Intelligence: What Startups Need to Know</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="israel-pons-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/IsraelPons.jpg" alt="" /></a>
						<div class="inner">
							<h3>Israel Pons</h3>
							<p>CEO, Angels Nest Mexico<br />
					<strong><em>Angel Investing in Latin America</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="sean-stanleigh-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/SeanStanleigh.jpg" alt="" /></a>
						<div class="inner">
							<h3>Sean Stanleigh</h3>
							<p>Managing Editor, <em>Globe Edge</em><br />
							<strong><em>Globe and Mail</em><br />
							Panel Moderator: Building Bridges in Tech Between Canada and Mexico</strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="salvador-behar-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/SalvadorBehar.jpg" alt="" /></a>
						<div class="inner">
							<h3>Salvador Behar Lavalle</h3>
							<p>Director General for North America<br />
							Ministry of Economy, Mexico<br />
							<strong><em>Panel: Building Bridges in Tech Between Canada and Mexico</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="ian-robertson-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/IanRobertson.jpg" alt="" /></a>
						<div class="inner">
							<h3>Ian Robertson</h3>
							<p>Vice President, NCC Group<br />
							<strong><em>Cybersecurity for Startups</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="elias-tefarikis-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/EliasTefarikis.jpg" alt="" /></a>
						<div class="inner">
							<h3>Elias Tefarikis</h3>
							<p>Global Consultant<br />
							<strong><em>Innovation Ecosystems for Latin American &amp; the Caribbean</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="dan-breznitz-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/DanBreznitz.jpg" alt="" /></a>
						<div class="inner">
							<h3>Dan Breznitz</h3>
							<p>Chair, Innovation Studies, Munk School of Global Affairs<br />
							<strong><em>Innovating Sustainable Startup Ecosystems</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="aliza-lakhani-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/AlizaLakhani.jpg" alt="" /></a>
						<div class="inner">
							<h3>Aliza Lakhani</h3>
							<p>Director, International Projects, DMZ<br />
							<strong><em>Global Partnership and the Power of Diversity</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="lisa-besserman-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/LisaBesserman.jpg" alt="" /></a>
						<div class="inner">
							<h3>Lisa Besserman</h3>
							<p>CEO, Startup Buenos Aires<br />
							<strong><em>Panelist: Latin American Entry Points</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="guadalupe-itzel-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/GuadalupeItzel.jpg" alt="" /></a>
						<div class="inner">
							<h3>Guadalupe Itzel</h3>
							<p>General Director, Entrepreneurship Programs<br />
							INADEM, Mexico<br />
							<strong><em>Evolution of the Startup Ecosystem in Mexico</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="frederico-marques-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/Fred.jpg" alt="" /></a>
						<div class="inner">
							<h3>Frederico Marques</h3>
							<p>Chair, Brazil-Canada Chamber of Commerce<br />
							<strong><em>Panelist: Latin America Entry Points</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="peter-liber-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/PeterLiber.jpg" alt="" /></a>
						<div class="inner">
							<h3>Peter Liber</h3>
							<p>Senior Business Advisor, ICT<br />
							Ontario Ministry of Economic Development and Growth<br />
							<strong><em>Doing Business in Ontario</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="dieguez-barreiro-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/DieguezBarreiro.jpg" alt="" /></a>
						<div class="inner">
							<h3>Dieguez Barreiro</h3>
							<p>Senior Officer<br />
							Ministry of Science, Technology, Innovation &amp; Communication (MCTIC)<br />
							Brazil<br />
							<strong><em>Scaling into Brazil</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="ana-pires-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/AnaPires.jpg" alt="" /></a>
						<div class="inner">
							<h3>Ana Pires</h3>
							<p>Manager, Entrepreneurship in Brasil<br />
							Softex<br />
							<strong><em>Scaling into Brazil</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="laura-ortiz-montemayor-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/LauraOrtizMontemayor.jpg" alt="" /></a>
						<div class="inner">
							<h3>Laura Ortiz Montemayor</h3>
							<p>Founder, SVX Mexico<br />
							<strong><em>Panelist: Latin American Entry Points</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="yuri-navarro-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/YuriNavarro.jpg" alt="" /></a>
						<div class="inner">
							<h3>Yuri Navarro, CEO</h3>
							<p>National Angel Capital Organization (NACO)<br />
							<strong><em>Panelist: Ontario as a Global Point of Entry</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="heather-galt-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/HeatherGalt.jpg" alt="" /></a>
						<div class="inner">
							<h3>Heather Galt</h3>
							<p>VP, Talent Initiatives, Communitech<br />
							<strong><em>Panelist: Ontario as a Global Point of Entry</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="joy-a-adams-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/JoyAAdams.jpg" alt="" /></a>
						<div class="inner">
							<h3>Joy A. Adams</h3>
							<p>CEO, Covenant Wealth Financial Services<br />
							<strong><em>Conference Host</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="nathalie-bechamp-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/NathalieBechamp.jpg" alt="" /></a>
						<div class="inner">
							<h3>Nathalie B&eacute;champ</h3>
							<p>Acting Director General, Innovation and Investment at Global Affairs Canada<br />
							<strong><em>Panel: Building Bridges in Tech Between Canada and Mexico</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="julio-cesar-rivas-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/JulioCesarRivas.jpg" alt="" /></a>
						<div class="inner">
							<h3>Julio C&eacute;sar Rivas</h3>
							<p>EFE, foreign correspondent<br />
							<strong><em>Panel Moderator: Ontario as a Global Point of Entry</em></strong></p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Sponsors 2017</h2>
				<p>They are awesomesauce</p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">




			<div class="row">
				<section class="12u">
					<h2>Platinum</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/Scotiabank.png" alt="" width="600" /></a>
					</div>
					<h2>Gold</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/CityToronto_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DMZ_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupHereToronto_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Silver</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/MonetaPartners.jpg" alt="" width="300" /></a>
					</div>
					<div class="row">
					</div>
					<h2>Institutional</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DFAIT_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/ProMexico_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/SE_INADEM_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Community</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupCanada_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupBrasil_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupChile.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupBuenosAires_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/WaterlooEDC.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupPeel_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/YABT_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/MexicoBusinessClub.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/UGlobally.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupToronto_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/500startups.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/AngelsNest.jpg" alt="" width="300" /></a>
					</div>
				</section>
			</div>



	{% include cta-sponsor.html %}



			<div class="row">
				<section class="12u">
					<h2>Past sponsors</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/TecMonterrey.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/UPS_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/uber_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Wayra_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Ryerson_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/AngelsNest.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Mars_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/incubauc_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/LatAmBusinessSchool.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/microfilms_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/YouNoodle_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/INADEM_logo.jpg" alt="" width="300" /></a>

					</div>
				</section>
			</div>





		</div>
	</section>
	
	{% include cta-conf.html %}
			<div class="row">
				<section class="12u">
					<div class="row">
						<style>
						    .google-maps {
							position: relative;
							padding-bottom: 75%; // This is the aspect ratio
						        padding-top: 30px;
							height: 100%;
							width: 100%;
							overflow: hidden;
						    }
						    .google-maps iframe {
							position: absolute;
							top: 0;
							left: 0;
							width: 100% !important;
							height: 100% !important;
						    }
						</style>

						<iframe src="
https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2886.432882341964!2d-79.3896743!3d43.6599662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7e6f7af0cc4e65f3!2sMaRS+Discovery+District!5e0!3m2!1sen!2sus!4v1486508992900
" width="800" height="600" frameborder="0" style="border:0" allowfullscreen>&nbsp;</iframe>

					</div>
				</section>
			</div>
