---
title: LatAm Startups
layout: defaultconf
---
			
<!-- Banner -->
	<section id="banner" style="background-image: url(assets/images/conferencebanner2019.jpg)">
		<header>
			<h2><em>The Leading Event for Latin American Startups &mdash; May 16, 2019</em></h2>
			<a href="tickets.html" class="button">Get Your Tickets</a>
		</header>
	</section>

<!-- Highlights -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-users"></i>
						<h3>Investors</h3>
						<p>Investors from across Latin America, Canada, and the US come to the LatAm Startups Conf to network with an intimate group of the most important movers and shakers in the LatAm ecosystem.</p>
						<p>Latin America produces world-class startups. If you're an investor interested in what LatAm has to offer, you can't afford to miss this event. </p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-gears"></i>
						<h3>Startups</h3>
						<p>Building the next great thing? Got a proven business idea with substantial revenue? Looking for Series A financing&mdash;and a chance to scale globally?</p>
<p>If this describes your startup, <a href="index.html#join-the-movement">join the mailing list</a> to hear when we open applications for our next cohort!</p>

					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-plane"></i>
						<h3>Ecosystem Leaders</h3>
						<p>Top accelerators, incubators, and public policy folk come from across America to network with investors and startups.</p>
						<p>Mark your calendar now!</p>

					</div>
				</section>
			</div>
		</div>
	</section>

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Innovation is increasing at an exponential pace.</h2>
				<p>Building self-sustaining startup ecosystems is critical to ensuring innovation independence in Latin America. </p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="randy-thompson-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/RandyThompson.png" alt="" /></a>
						<div class="inner">
							<h3>Randy Thompson</h3>
							<p>CEO, Valhalla Angels<br />
							<strong><em>Keynote interview: Cross-border angel investment</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="ozan-isinak-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/OzanIsinak.jpg" alt="" /></a>
						<div class="inner">
							<h3>Ozan Isinak</h3>
							<p>Keiretsu Forum Central Canada<br />
							Region President<br />
							<strong><em>Panel: Co-investment Canada-LatAm</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="joao-brasiliero-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/JoaoBrasiliero.png" alt="" /></a>
						<div class="inner">
							<h3>Jo&atilde;o Brasiliero</h3>
							<p>CEO, Cantarino Brasiliero<br />
							<strong><em>Panel: State of the LatAm Startup Ecosystem</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="ingrid-castillo-rodriguez-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/IngridCastillo.jpg" alt="" /></a>
						<div class="inner">
							<h3>Ingrid Castillo</h3>
							<p>Founding and Managing Partner, CAPITEL<br />
							<strong><em>Panel: Co-investment Canada-LatAm</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="rodrigo-contreras-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/RodrigoContreras.jpg" alt="" /></a>
						<div class="inner">
							<h3>Rodrigo Contreras</h3>
							<p>Master of Ceremonies<br />
							<strong><em>LatAm Startups Conference</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="agustina-santori-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/AgustinaSantori.jpg" alt="" /></a>
						<div class="inner">
							<h3>Agustina Santori</h3>
							<p>Founder &amp; CEO, GlamST<br />
							<strong><em>Panel: State of the LatAm Startup Ecosystem</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="pedro-aramburu-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/PedroAramburu.jpg" alt="" /></a>
						<div class="inner">
							<h3>Pedro Aramburu</h3>
							<p>Portfolio Manager, UTEC Ventures, Peru<br />
							<strong><em>Panel: State of the LatAm Startup Ecosystem</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="yuri-navarro-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/YuriNavarro.jpg" alt="" /></a>
						<div class="inner">
							<h3>Yuri Navarro</h3>
							<p>CEO, National Angel Capital Organization (NACO)<br />
							<strong><em>Panel: Co-investment Canada-LatAm</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="ana-serrano-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/AnaSerrano.jpg" alt="" /></a>
						<div class="inner">
							<h3>Ana Serrano</h3>
							<p>Chief Digital Officer, CFC<br />
							<strong><em>Panel: The Orange Economy</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="salvador-alanis-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/SalvadorAlanis.jpg" alt="" /></a>
						<div class="inner">
							<h3>Salvador Alanis</h3>
							<p>President, The Bakery<br />
							<strong><em>Panel: The Orange Economy</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="tony-duckett-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/TonyDuckett.jpg" alt="" /></a>
						<div class="inner">
							<h3>Tony Duckett</h3>
							<p>Director, xiVENTURES Fund<br />
							<strong><em>Panel: Co-investment Canada-LatAm</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="joss-monzon-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/JossMonzon.jpg" alt="" /></a>
						<div class="inner">
							<h3>Joss Monzon</h3>
							<p>Creative Director, VirtualWare<br />
							<strong><em>Keynote presentation: The Next Breakthrough in Virtual Reality</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="camila-lecaros-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/CamilaLecaros2.jpg" alt="" /></a>
						<div class="inner">
							<h3>Camila Lecaros</h3>
							<p>Managing Director, MassChallenge Mexico<br />
							<strong><em>Panel: AI and FinTech</em></strong></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="hunter-cookson-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/HunterCookson.jpg" alt="" /></a>
						<div class="inner">
							<h3>Hunter Cookson</h3>
							<p>R&amp;D Tax Credit and Grant Specialist of RDP Associates<br />
							<strong><em>Fintech Break Out Session: Funding Opportunities For Fintech Startups</em></strong></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="alejandra-luzardo-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/AlejandraLuzardo.jpg" alt="" /></a>
						<div class="inner">
							<h3>Alejandra Luzardo</h3>
							<p>Co-founder, Demand Solutions<br />
							<strong><em>Panel: The Orange Economy</em></strong></p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Sponsors 2019</h2>
				<p>They rock</p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">




			<div class="row">
				<section class="12u">
					<h2>Strategic</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Toronto-Logo-jpeg.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupHereToronto_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Silver</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Bright_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Bronze</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DukeHeightsBIA_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/xiBOSS_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Mercantile_logo.png" alt="" width="300" /></a>
					</div>
					<h2>Institutional</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/ProChile_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/ProEcuador_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/ProPeru_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/UruguaySigoXI.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/softex_logo.png" alt="" width="300" /></a>
					</div>
	{% include cta-sponsor.html %}
					<h2>Community</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupCanada_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupChile.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/Reune_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/Cantarino.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/Spaces.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/AngelsNestNew.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupPeel_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/NACO.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/DMZ_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/BCCC_logo.jpg" alt="" width="300" /></a>
					</div>
				</section>
			</div>




		</div>
	</section>
	
	{% include cta-conf.html %}
			<div class="row">
				<section class="12u">
					<div class="row">
						<style>
						    .google-maps {
							position: relative;
							padding-bottom: 75%; // This is the aspect ratio
						        padding-top: 30px;
							height: 100%;
							width: 100%;
							overflow: hidden;
						    }
						    .google-maps iframe {
							position: absolute;
							top: 0;
							left: 0;
							width: 100% !important;
							height: 100% !important;
						    }
						</style>

						<iframe src="

https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.208445047881!2d-79.38899708459205!3d43.64383137912155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d6785ffb55%3A0x4209e1f8fd986202!2sMetro+Toronto+Convention+Centre+(MTCC)!5e0!3m2!1sen!2ssc!4v1552941116634

" width="800" height="600" frameborder="0" style="border:0" allowfullscreen>&nbsp;</iframe>

					</div>
				</section>
			</div>
