---
title: LatAm Startups
layout: defaultconf
---
			
<!-- Banner -->
	<section id="banner" style="background-image: url(assets/images/conferencebanner2017.jpg)">
		<header>
			<h2><em>The Leading Event for Latin American Startups &mdash; June 7-9, 2017</em></h2>
			<a href="tickets.html" class="button">Get Your Tickets</a>
		</header>
	</section>

<!-- Highlights -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-users"></i>
						<h3>Investors</h3>
						<p>Investors from across Latin America, Canada, and the US come to the LatAm Startups Conf to network with an intimate group of the most important movers and shakers in the LatAm ecosystem.</p>
						<p>Latin America produces world-class startups. If you're an investor interested in what LatAm has to offer, you can't afford to miss this event. </p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-gears"></i>
						<h3>Startups</h3>
						<p>Building the next great thing? Got a proven business idea with substantial revenue? Looking for Series A financing&mdash;and a chance to scale globally?</p>
<p>If this describes your startup, please apply today!</p>

					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-plane"></i>
						<h3>Ecosystem Leaders</h3>
						<p>Top accelerators, incubators, and public policy folk come from across America to network with investors and startups.</p>
						<p>Mark your calendar now!</p>

					</div>
				</section>
			</div>
		</div>
	</section>

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Innovation is increasing at an exponential pace.</h2>
				<p>Building self-sustaining startup ecosystems is critical to ensuring innovation independence in Latin America. </p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="governor-general-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/GovernorGeneralofCanada.jpg" alt="" /></a>
						<div class="inner">
							<h3>Governor-General of Canada</h3>
							<p>His Excellency, the Rt. Hon. David Johnston<br />
							<strong>Opening Keynote, 2015</strong><br />
							<strong>Welcome Message, 2016</strong><br />
							<a href="https://www.youtube.com/watch?v=nOpGHQjEI_8">Watch the video</a></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="abdullah-snobar-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/AbdullahSnobar.jpg" alt="" /></a>
						<div class="inner">
							<h3>Abdullah Snobar</h3>
							<p>Executive Director, DMZ<br />
							<strong><em>What Makes the DMZ at Ryerson University a Leading Global Tech Incubator (2016)</strong></em><br />
<a href="https://www.youtube.com/watch?v=Ur65tWlD-b0">Watch the video</a></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="vitor-andrade-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/VitorAndrade.jpg" alt="" /></a>
						<div class="inner">
							<h3>V&iacute;tor Andrade</h3>
							<p>COO, Startup Brasil<br />
							<strong><em>Opportunities &amp; Challenges: Doing Business in Brazil (2016)</em></strong><br />
							<a href="https://www.youtube.com/watch?v=rgi9PvaVRyM">Watch the video</a></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="yuri-navarro-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/YuriNavarro.jpg" alt="" /></a>
						<div class="inner">
							<h3>Yuri Navarro</h3>
							<p>CEO, National Angel Capital Organization (NACO)<br />
							<strong><em>Working with International Angel Investors</strong></em><br />
<a href="https://www.youtube.com/watch?v=q3PIp1dCxbE">Watch the video</a></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="patrick-watson-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/PatrickWatson.jpg" alt="" /></a>
						<div class="inner">
							<h3>Patrick Watson</h3>
							<p>Director, I-DEV International<br />
					<strong><em>The Proliferation of E-Commerce in Latin America</em></strong>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="catherine-bischoff-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/CatherineBischoff.jpg" alt="" /></a>
						<div class="inner">
							<h3>Catherine Bischoff</h3>
							<p>Associate Director, University of Waterloo<br />
					<strong><em>Innovation and Entrepreneurship in Canada: Lessons from Waterloo Region</em></strong><br />
							<a href="https://www.youtube.com/watch?v=G6HFTGWQHjM">Watch the video</a></p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="sebastian-diaz-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/SebastianDiaz.jpg" alt="" /></a>
						<div class="inner">
							<h3>Sebasti&aacute;n D&iacute;az</h3>
							<p>Start-Up Chile<br />
							<strong><em>The Success of Start-Up Chile</em></strong><br />
							<a href="https://www.youtube.com/watch?v=G6HFTGWQHjM">Watch the video</a></p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="luis-miguel-beristain-bio.html" class="image left"><img src="{{ site.baseurl }}/assets/images/LuisMiguelBeristain.jpg" alt="" /></a>
						<div class="inner">
							<h3>Luis Miguel Beristain</h3>
							<p>Entrepreneurship Institute, Mexico City<br />
					<strong><em>Building a Diverse Startup Ecosystem in Mexico</em></strong>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Sponsors 2017</h2>
				<p>They are awesomesauce</p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">




			<div class="row">
				<section class="12u">
					<h2>Gold</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/CityToronto_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/DMZ_logo.png" alt="" width="600" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupHereToronto_logo.jpg" alt="" width="300" /></a>
					</div>
					<h2>Silver</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/MonetaPartners.jpg" alt="" width="600" /></a>
					</div>
					<div class="row">
					</div>
					<h2>Institutional</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/DFAIT_logo.jpg" alt="" width="500" /></a>
					</div>
					<h2>Community</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupChile.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupBuenosAires_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupToronto_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupPeru_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupPeel_logo.jpg" alt="" width="300" /></a>
					</div>
				</section>
			</div>





	{% include cta-sponsor.html %}



			<div class="row">
				<section class="12u">
					<h2>Past sponsors</h2>
					<div class="row">
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/TecMonterrey.png" alt="" width="600" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/UPS_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/uber_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DFAIT_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Wayra_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Ryerson_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/DMZ_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/StartupCanada_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/AngelsNest.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/Mars_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupCanada_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/incubauc_logo.png" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/LatAmBusinessSchool.jpg" alt="" width="425" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/GoSouth_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image center"><img src="{{ site.baseurl }}/assets/images/microfilms_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/StartupBrasil_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image centered"><img src="{{ site.baseurl }}/assets/images/YouNoodle_logo.jpg" alt="" width="300" /></a>
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/ProMexico_logo.jpg" alt="" width="500" /></a>
					<a href="become-a-sponsor.html" class="image fit"><img src="{{ site.baseurl }}/assets/images/INADEM_logo.jpg" alt="" width="500" /></a>

					</div>
				</section>
			</div>





		</div>
	</section>
	
	{% include cta-conf.html %}
			<div class="row">
				<section class="12u">
					<div class="row">
						<style>
						    .google-maps {
							position: relative;
							padding-bottom: 75%; // This is the aspect ratio
						        padding-top: 30px;
							height: 100%;
							width: 100%;
							overflow: hidden;
						    }
						    .google-maps iframe {
							position: absolute;
							top: 0;
							left: 0;
							width: 100% !important;
							height: 100% !important;
						    }
						</style>

						<iframe src="
https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2886.432882341964!2d-79.3896743!3d43.6599662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7e6f7af0cc4e65f3!2sMaRS+Discovery+District!5e0!3m2!1sen!2sus!4v1486508992900
" width="800" height="600" frameborder="0" style="border:0" allowfullscreen>&nbsp;</iframe>

					</div>
				</section>
			</div>
